# node modules
node_modules/

# .env file for environment variables
.env

# Uploaded files
uploads/

# scripts folder for database seeding and other utilities
scripts/

# for testing
models/RandomSOS.js

#system health check route
routes/systemStatusRoutes.js

